@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.tr-scrollbar::-webkit-scrollbar {
  height: 4px;
}
.tr-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}
.tr-scrollbar::-webkit-scrollbar-track {
  background-color: transparent !important;
}
